HOMEWORK

2. class4' veritabanı olusturun (M). Veritabanı silindi (M). Ayni veri tabanı yine olusturun (K)
create database class4

3. There is a one-to-one relationship between the country and city tables.
   There is one-many relationship between film and inventory,language,filmactor tables.
   There is a many-to-many relationship between payment and rental.
   ?????????????????????????????????????????????*
   ?????????????????????????????????????????????
   ?????????????????????????????????????**??????

5. ER modeldeki tablolardan 3 tanesini K olusturun.
create table language(
	language_id integer primary key not null,
	name varchar(15) not null,
	last_update date
	)

create table film_actor(
	actor_id integer primary key not null,
	film_id integer not null,
	last_update date
	)


create table inventory(
	inventory_id integer primary key not null,
	film_id integer not null,
    store_id integer not null,
	last_update date
	)

6.ER modeldeki tablolardan 3 tanesini C olusturun.

import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=0000")
cur=conn.cursor()
comand=''' create table rental
(
    rental_id integer primary key not null ,
    rental_date date,
    inventory_id integer not null,
    customer_id integer not null,
    return_date date,
    staff_id integer not null,
    last_update date    
)
'''
cur.execute(comand)
cur.close()
conn.commit()
conn.close()
#############################################
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=0000")
cur=conn.cursor()
comand=''' create table payment
(
    payment_id integer primary key not null ,
    customer_id integer not null,
    staff_id integer not null,
    rental_id integer,
    amaount integer,
    payment_date date
      
)
'''
cur.execute(comand)
cur.close()
conn.commit()
conn.close()
###############################################
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=0000")
cur=conn.cursor()
comand=''' create table actor
(
    actor_id integer primary key not null ,
    first_name varchar(15) not null,
    last_name varchar(15) not null,
    last_update date
    
)
'''
cur.execute(comand)
cur.close()
conn.commit()
conn.close()

8- Olusturdugunuz 3 tabloya K ile 5 veri girişi yapin.
insert into film_actor (actor_id,film_id,last_update) values (1,10,'2018-01-01')
insert into film_actor (actor_id,film_id,last_update) values (2,11,'2020-01-01')
insert into film_actor (actor_id,film_id,last_update) values (3,12,'2022-01-01')
insert into film_actor (actor_id,film_id,last_update) values (4,13,'2022-05-13')
insert into film_actor (actor_id,film_id,last_update) values (5,14,'2022-12-13')

-----------------------------------------------------------------------------------
insert into film_category (film_id,category_id,last_update) values (1,1,'2022-01-01')
insert into film_category (film_id,category_id,last_update) values (2,1,'2022-02-01')
insert into film_category (film_id,category_id,last_update) values (3,1,'2022-12-12')
insert into film_category (film_id,category_id,last_update) values (4,2,'2020-12-12')
insert into film_category (film_id,category_id,last_update) values (5,2,'2019-10-01')

-----------------------------------------------------------------------------------
insert into inventory (inventory_id,film_id,store_id,last_update) values (1,1,2,'2019-10-01')
insert into inventory (inventory_id,film_id,store_id,last_update) values (2,2,2,'2020-10-01')
insert into inventory (inventory_id,film_id,store_id,last_update) values (3,3,2,'2020-11-11')
insert into inventory (inventory_id,film_id,store_id,last_update) values (4,4,1,'2020-01-11')
insert into inventory (inventory_id,film_id,store_id,last_update) values (5,5,1,'2018-01-11')

9- Olusturdugunuz 3 tabloya C ile 5 veri girişi yapin.
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=0000")
cur=conn.cursor()

--------------------------------------------------------------------
cur.execute('INSERT INTO language VALUES (%s,%s,%s)',(1,'English','2020-10-10'))
cur.execute('INSERT INTO language VALUES (%s,%s,%s)',(2,'Dutch','2021-11-11'))
cur.execute('INSERT INTO language VALUES (%s,%s,%s)',(3,'French','2022-12-12'))
cur.execute('INSERT INTO language VALUES (%s,%s)',(4,'Spanish'))
cur.execute('INSERT INTO language VALUES (%s,%s,%s)',(5,'Turkish','2018-10-18'))

----------------------------------------------------------------------
cur.execute('INSERT INTO payment VALUES (%s,%s,%s,%s,%s,%s)',(1,1,1,1,1,'2001-01-01'))
cur.execute('INSERT INTO payment VALUES (%s,%s,%s,%s,%s,%s)',(2,2,2,2,2,'2002-02-02'))
cur.execute('INSERT INTO payment VALUES (%s,%s,%s,%s,%s,%s)',(3,3,3,3,3,'2003-03-03'))
cur.execute('INSERT INTO payment VALUES (%s,%s,%s,%s,%s,%s)',(4,4,4,4,4,'2004-04-04'))
cur.execute('INSERT INTO payment VALUES (%s,%s,%s,%s,%s,%s)',(5,5,5,5,5,'2005-05-05'))

----------------------------------------------------------------------
cur.execute('INSERT INTO rental VALUES (%s,%s,%s,%s,%s,%s,%s)',(1,'2001-01-01',1,1,'2001-01-02',1,'2001-01-02'))
cur.execute('INSERT INTO rental VALUES (%s,%s,%s,%s,%s,%s,%s)',(2,'2002-02-02',2,2,'2002-01-02',1,'2002-01-02'))
cur.execute('INSERT INTO rental VALUES (%s,%s,%s,%s,%s,%s,%s)',(3,'2003-03-03',3,3,'2003-01-02',1,'2003-01-02'))
cur.execute('INSERT INTO rental VALUES (%s,%s,%s,%s,%s,%s,%s)',(4,'2004-04-04',4,4,'2004-01-02',1,'2004-01-02'))
cur.execute('INSERT INTO rental VALUES (%s,%s,%s,%s,%s,%s,%s)',(5,'2005-05-05',5,5,'2005-01-02',1,'2005-01-02'))

----------------------------------------------------------------------------
cur.close()
conn.commit()
conn.close()

11- 3 tablodaki birer veriyi K ile degistirin.
update film_actor set actor_id=6 where actor_id=1 
update film_category set category_id=18,last_update='1990-01-01' where film_id=1
update inventory set film_id=11,store_id=11,last_update='1990-01-01' where inventory_id=1

12- 3 tablodaki birer veriyi C ile degistirin.
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=0000")
cur=conn.cursor()

----------------------------------------------------------------------------
cur.execute('UPDATE language SET language_id=%s WHERE last_update=%s',(6,'2020-10-10'))
cur.execute('UPDATE payment SET customer_id=%s, staff_id=%s WHERE payment_id=%s',(6,6,1))
cur.execute('UPDATE rental SET inventory_id=%s, staff_id=%s,customer_id=%s WHERE rental_id=%s',(6,6,6,1))

--------------------------------------------------------------------------------------
cur.close()
conn.commit()
conn.close()

14- 3 tablonun son satirini K ile silinmiş.
DELETE  FROM language where language_id in( 
	select language_id from language	
    ORDER BY language_id desc
    LIMIT 1)

DELETE  FROM payment where payment_id in( 
	select payment_id from payment	
    ORDER BY payment_id desc
    LIMIT 1)

DELETE  FROM rental where rental_id in( 
	select rental_id from rental	
    ORDER BY rental_id desc
    LIMIT 1)

15.3 tablonun son satirini C ile silinmiş.

import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=0000")
cur=conn.cursor()

----------------------------------------------------------------
command= """DELETE  FROM film_actor where actor_id in( 
	select actor_id from film_actor	
    ORDER BY actor_id desc
      LIMIT 1
     )"""

command= """DELETE  FROM film_category where film_id in( 
	select film_id from film_category	
    ORDER BY film_id desc
      LIMIT 1
     )"

command= """DELETE  FROM inventory where inventory_id in( 
	select inventory_id from inventory	
    ORDER BY inventory_id desc
      LIMIT 1
     )"""
     
     
-----------------------------------------------------------------     
cur.execute(command)
cur.close()
conn.commit()
conn.close()

17- 1 tabloyu K ile silinmiş.
drop table category

18- 1 tabloyu C ile silinmiş.
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=0000")
cur=conn.cursor()
command= """Drop table film"""
cur.execute(command)
cur.close()
conn.commit()
conn.close()

19.Kalan tablolardan 1 tanesinin 2 veya 3 sutununu K ile baska bir tablo olarak olusturun.
CREATE table new_table AS SELECT actor_id,film_id FROM film_actor

20.Kalan tablolardan 1 tanesinin 2 veya 3 sutununu C ile baska bir tablo olarak olusturun.

import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=0000")
cur=conn.cursor()
command= """CREATE table new_table2 AS SELECT film_id,category_id FROM film_category"""    
cur.execute(command)
cur.close()
conn.commit()
conn.close()

22.Tablolardan 1 tanesini K ile truncate edin.
truncate table language

23.Tablolardan 1 tanesini C ile truncate edin.
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=0000")
cur=conn.cursor()
command= """truncate table new_table"""     
cur.execute(command)
cur.close()
conn.commit()
conn.close()

25- 2 tabloyu K ile silin.
drop table payment
drop table rental

26- 2 tabloyu C ile silin.
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=0000")
cur=conn.cursor()

-------------------------------------------
command= """drop table film_actor"""
command= """drop table film_category"""
     
--------------------------------------------     
cur.execute(command)
cur.close()
conn.commit()
conn.close()

28- Postgresql arayuzundeki son tabloyu da K ile silin.
drop table new_table2

30- Import ettiginiz bu tabloyu C ile silin.

create table import_table(
	actor_id integer primary key not null,
	film_id integer not null
	)
import edeceğimiz tabloya uygun bir tablo oluşturuyoruz. bundan sonra ise bilgileri import edeceğiz.
29-30 olmadı.

32- DB nizde 15 adet tablo olmasi lazim. Her tabloyu teker teker goruntuleyin ve kolon isimlerine bakarak, 5 tablodaki hangi kolonun PK ve FK olduğunu yazin.
adress --> PK=adress_id , FK=address_city
city --> PK=city_id, FK=city
customer --> PK=Customer_id ,FK=customer_address_id
film --> PK=film_id , FK=film_language_id
film_actor --> PK=actor_id, FK= film_actor_actor_id, film_actor_film_id

33- Action filmlerinin ortalama suresi ne kadar?
select avg(length) from film where description like '%Action%' 
112.7045454545454545

34-En cok staff olan store hangisidir?
???????????

35- 'Gene Willis' adli actorun oynadigi filmlerin ratingi nedir?
select rating from film where film_id=(select film_id from film_actor where actor_id=(select actor_id from actor where first_name='Gene' and last_name='Willis'))
????????????

36-Aktif customer sayisi nedir?
select count(*) from customer where active=1
584

37-'C' harfiyle baslayan filmler hangileridir?
select * from film where title like 'C%'

38-4$ den az odeme yapan musterilerin e-mail edresleri nedir?
select email from customer where customer_id IN(SELECT customer_id from payment where amount<4 )

39- Moscow'da ikamet eden staff ve customer tablosu? (sadece isim/soyisim sutunu olsun)
select first_name,last_name from customer where customer_id IN(SELECT city_id from city where city='Moscow' )

40- En az kiralanan 5 film hangisidir?